name: mix

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: "42 9 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    name: test (elixir=${{ matrix.elixir }}, otp=${{ matrix.otp }})

    env:
      MIX_ENV: test

    services:
      mailpit:
        image: axllent/mailpit:latest
        ports:
          - 1025:1025
          - 8025:8025
        env:
          options: >-
            --health-cmd nc -zw3 localhost 1025
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5

    strategy:
      # https://hexdocs.pm/elixir/compatibility-and-deprecations.html#between-elixir-and-erlang-otp
      matrix:
        include:
          - elixir: 1.16
            otp: 25
          - elixir: 1.19
            otp: 28
            lint: true
            dialyzer: true

    steps:
      - uses: actions/checkout@v6

      - uses: erlef/setup-beam@v1
        id: beam
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Restore deps cache
        uses: actions/cache@v5
        with:
          path: |
            deps
            _build
          key: test-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-${{ github.head_ref || github.ref }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            test-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-${{ github.head_ref || github.ref }}-
            test-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-refs/heads/master-

      - run: mix deps.get --check-locked

      - run: mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - run: mix compile --warnings-as-errors

      - run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - run: mix test --cover

      - name: Restore PLTs cache
        if: ${{ matrix.dialyzer }}
        uses: actions/cache@v5
        with:
          path: plts
          key: plts-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-${{ github.head_ref || github.ref }}
          restore-keys: |
            plts-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-refs/heads/master

      - run: mix dialyzer --format github
        if: ${{ matrix.dialyzer }}
